#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#else
  #set($data = {})

  #foreach($item in $context.result.entrySet())
    #if($item.key != "verificationCode")
      $util.qr($data.put($item.key, $item.value))
    #end
  #end

  $util.toJson($data)
#end